<div>
  <div class="p-2"> 
    <ion-col class="flex justify-between px-3">
      <ion-text class="font-sans font-semibold">Popular Deals</ion-text>
      <ion-text [queryParams]="{category:'popular-deals'}" routerLink="/product-list" class="font-sans font-semibold"><a>Show All</a></ion-text>
    </ion-col>
  </div>
  <swiper-container [spaceBetween]="10" [slidesPerView]="3" [speed]="1000">
    <swiper-slide class="" *ngFor="let item of images;let i = index" [queryParams]="{id:i}" routerLink="/product">
      <div class="min-h-24 h-28 w-28 rounded-md shadow-lg">
        <img class="banner" [src]="item" alt="" />
      </div>
      <ion-col>
        <ion-text class="font-medium text-base text-gray-800">Product title</ion-text> <br>
        <ion-text class="font-light text-xs">$450</ion-text>
      </ion-col>
    </swiper-slide>
    <Swiper-slide>
      <div class=" text-6xl">
          <ion-icon [queryParams]="{category:'popular-deals'}" routerLink="/product-list" name="arrow-forward-circle-outline"></ion-icon>
      </div>
    </Swiper-slide>
  </swiper-container>
</div>
