.container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.scroll {
  flex-wrap: nowrap;
  overflow-x: scroll !important;
  overflow-y: hidden;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.font-semibold {
  font-weight: 600;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.p-2 {
  padding: 0.5rem;
}

ion-chip {
  --background: #175b86;
  --color: white;
}
