<ion-content class="bg-img">
  <div class="form-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="justify-content-center profile-icon">
            <ion-icon name="person-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            color="light"
            label="Name"
            label-placement="floating"
            fill="outline"
            placeholder="Enter Name"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            color="light"
            label="Email"
            label-placement="floating"
            fill="outline"
            placeholder="Enter Email"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            color="light"
            label="Password"
            label-placement="floating"
            fill="outline"
            placeholder="Enter Password"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            color="light"
            label="Confirm Password"
            label-placement="floating"
            fill="outline"
            placeholder="Enter Confirm Password"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            color="light"
            label="Number"
            label-placement="floating"
            fill="outline"
            placeholder="Enter Number"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="justify-content-center">
          <div>
            Already have an account? <a routerLink="/login">Log in </a> here.
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
