<ion-content class="bg-img">
  <div class="form-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="justify-content-center">
            <ion-icon class="logo" name="aperture-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            color="light"
            label="Username"
            label-placement="floating"
            fill="outline"
            placeholder="Enter Username"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            color="light"
            label="Password"
            label-placement="floating"
            fill="outline"
            placeholder="Enter Password"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="light"> Login </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="justify-content-between">
          <ion-button color="light" routerLink="/home" fill="clear" size="small">Forgot Password</ion-button>
          <ion-button color="light" routerLink="/signup" fill="clear" size="small">Sign up</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
