<div class="grid grid-cols-2 gap-3 p-3">
  <div class="rounded-md relative shadow-lg shadow-gray-200">
    <div class="h-56 relative">
      <img
        class="object-cover w-100 h-100 rounded-md"
        src="https://images.unsplash.com/photo-1463100099107-aa0980c362e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8d2hpdGUlMjBiYWNrZ3JvdW5kJTIwc2hvZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60"
        alt=""
      />
      <div class="absolute top-0 right-0 p-2 text-2xl"><ion-icon name="heart-outline"></ion-icon></div>
    </div>
    <div class="absolute bottom-0 p-2">
      <span>Product title</span><br />
      <span>Product price</span>
    </div>
  </div>
  <div class="rounded-md relative shadow-lg shadow-gray-200">
    <div class="h-56 relative">
      <img
        class="object-cover w-100 h-100 rounded-md"
        src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=398&q=80"
        alt=""
      />
      <div class="absolute top-0 right-0 p-2 text-2xl"><ion-icon name="heart-outline"></ion-icon></div>
    </div>
    <div class="absolute bottom-0 p-2">
      <span>Product title</span><br />
      <span>Product price</span>
    </div>
  </div>
  <div class="rounded-md relative shadow-lg shadow-gray-200">
    <div class="h-56 relative">
      <img
        class="object-cover w-100 h-100 rounded-md"
        src="https://images.unsplash.com/photo-1463100099107-aa0980c362e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8d2hpdGUlMjBiYWNrZ3JvdW5kJTIwc2hvZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60"
        alt=""
      />
      <div class="absolute top-0 right-0 p-2 text-2xl"><ion-icon name="heart-outline"></ion-icon></div>
    </div>
    <div class="absolute bottom-0 p-2">
      <span>Product title</span><br />
      <span>Product price</span>
    </div>
  </div>
  <div class="rounded-md relative shadow-lg shadow-gray-200">
    <div class="h-56 relative">
      <img
        class="object-cover w-100 h-100 rounded-md"
        src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=398&q=80"
        alt=""
      />
      <div class="absolute top-0 right-0 p-2 text-2xl"><ion-icon name="heart-outline"></ion-icon></div>
    </div>
    <div class="absolute bottom-0 p-2">
      <span>Product title</span><br />
      <span>Product price</span>
    </div>
  </div>
</div>
